.d-flex.flex-row.justify-content-between.flex-wrap
  .container
    %div{class: "list-container"}
      .left-col
        %h3 "#{@filter}" in Fort Wayne
  - @places.each do |place|
    = link_to place_path(place), class: "w-100 my-3 p-3" do
      .container.column.left
        .place
          .place-img
            %img{:src => FFaker::Image.url}/
            .place-img
              -# %p Name of the X place
              -# %h3 Extra information about the X place
      .container.column.right
        .place
          %h4.mt-3= place.name
          //wraps the bagdes together
          %div
            - place.tags.limit(3).each do |tag|
              .badge.badge-primary= tag.name
        %p= place.description

        .container
          %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css", :rel => "stylesheet"}/
          %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}/
          .voting
            //this voting needs to edit better and not have "link" input for the whole thing, also have be on the right.
            %i.fa.fa-thumbs-up
              = place.likes.count


.d-flex.flex-row.justify-content-center
  = will_paginate @places, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer

