#carouselExampleSlidesOnly.carousel.slide{"data-ride" => "carousel", style: "max-height:400px"}
  .carousel-inner
    - @place.images.each.with_index(0) do |image, index|
      .carousel-item{class: "#{'active' if index.zero?}"}
        %img.d-block.w-100{:alt => "First slide", :src => image.url}/

- if alert
  .alert.alert-danger
    = alert
- if notice
  .alert.alert-success
    = notice
.row
  .col-8
    %h2.mt-3= @place.name
    %hr
    %p= @place.description
  .col-4
    .container
      %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css", :rel => "stylesheet"}/
      %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}/
      .voting.m-3
        - if current_user.present? && !current_user.liked?(@place)
          = button_to place_likes_path(@place), class: "like-button" do
            %i.fa.fa-thumbs-up
              = @place.likes.count
        - else
          = button_to place_like_path(@place, current_user.likes.where(reference: @place).first), class: "like-button" do
            %i.fa.fa-thumbs-down
              = @place.likes.count

%hr
.row
  .col-12
    %h3 This is what people are saying about "#{@place.name}"
    .card-header
      Leave a Comment:
      .card-body
        = form_for [@place, Comment.new] do |f|
          .form-group
            = f.hidden_field :user_id, value: current_user.id
            = f.hidden_field :place_id, value: @place.id
            = f.text_field :content, placeholder: "Leave a comment here.", class: "form-control"
            %p
          .input-group-append
            = f.submit 'Submit', class: "btn btn-dark"

- @place.comments.includes(:user).order(created_at: :desc).each do |comment|
  = render 'comments/show', comment: comment
